body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("mars-67522_1920.jpg");
  background-repeat: no-repeat;
  background-color: rgba(245, 211, 142, 1);
  background-size: auto;
  background-position: top;
}
.nasa-link {
  text-decoration: none;
}
span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  border-top: 2px dotted navy;
  border-bottom: 2px dotted navy;
}

.exlore-title {
  margin: -80px -40px 0px 0px;
  color: whitesmoke;
  font-size: 20px;
  background-color: rgb(136, 136, 136);
  padding: 50px 0 10px 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  /*z-index: 1;*/
  top: 0;
  right: 0;
  background-color: rgb(141, 141, 141);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: whitesmoke;
}

.sidenav a {
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
  border-bottom: 2px solid navy;
  line-height: 45px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border-bottom: none;
  padding-top: 20px;
}
.hambuger-button {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  cursor: pointer;
  color: whitesmoke;
  padding-right: 20px;
}
.picture-image {
  border-radius: 20px;
  border: 7px solid rgb(141, 141, 141);
  margin: 5%;
  padding-right: 10%;
  box-shadow: 0px 7px 73px 13px rgba(245, 211, 142, 1);
  width: 100%;
  display: none;
}
.instructions {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  padding: 10px;
}
#rover-page-link {
  margin: 25px;
  text-decoration: none;
  color: navy;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  padding: 3px;
  border: 1px solid navy;
  text-align: center;
  line-height: 12px;
}
@media screen and (max-width: 1000px) {
  .sidenav a {
    font-size: 22px;
    padding-left: 25px;
    line-height: 35px;
  }
}
@media screen and (max-width: 700px) {
  .exlore-title {
    margin: -80px -40px 0px 0px;
    font-size: 14px;
    padding: 35px 0 25px 10px;
  }
  span {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    border-top: 2px dotted navy;
    border-bottom: 2px dotted navy;
  }
  .sidenav a {
    font-size: 18px;
    padding-left: 10px;
    line-height: 20px;
  }
}
@media screen and (max-width: 530px) {
  .exlore-title {
    margin: -80px -40px 0px 0px;
    font-size: 12px;
    padding: 35px 0 25px 10px;
  }
  span {
    font-size: 20px;
  }
  .sidenav a {
    font-size: 16px;
    padding-left: 3px;
    line-height: 16px;
  }
  .instructions {
    font-size: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 446px) {
  #rover-page-link {
    margin: 11px;
    font-size: 8px;
    text-align: left;
  }
  .exlore-title {
    font-size: 10px;
    padding: 40px 0 18px 10px;
  }
  .sidenav a {
    font-size: 12px;
    padding-left: 3px;
    line-height: 12px;
  }
}
